@import "tailwindcss";
@config '../../tailwind.config.js';

@layer theme {
  @theme {
    --color-black: #101318;
    --color-white: #ffffff;
    --color-gray100: #f2f4f8;
    --color-gray300: #cfdbea;
    --color-gray500: #9facbd;
    --color-gray800: #2d3034;
    --color-purple: #6a42db;
    --color-dark-purple: #5731c8;
    --color-light-purple: #f1edfc;
    --breakpoint-*: initial;
    --breakpoint-pc: 120rem;
    --breakpoint-tb: 46.5rem;
    --breakpoint-mb: 23.4375rem;
  }
}

@layer base {
  a:hover,
  button:hover {
    cursor: pointer;
    text-decoration: none;
  }
}
